{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block title %}
Submit a Ticket
{% endblock title %} 

{% block content %}
<div class="container">
<!-- Messages -->
{% include 'partials/_messages.html' %}

<div class="container mt-5 col-12 pt-5">
      <div class="card shadow p-3 mb-3 bg-custom rounded mt-5">

        <div class="card-body">
          <h2 class="d-flex justify-content-between">Ticket Number:  {{ ticket.id }} <span class="status text-danger">
              {{ ticket.status }} 
            </span></h2>
          <hr>
          <div class="row">
            <div class="col-lg-6">
              <h3>Details: </h3>
              <p><strong>Created by: </strong>
                {{ ticket.customer.first_name }} {{ ticket.customer.last_name}}
              </p>
              <p><strong>Created on: </strong>
                {{ ticket.created_date }} 
              </p>
                <p><strong>Due date: </strong>
                  {{ ticket.due_date }}
                </p>
            
                  <p><strong>Type of Issue: </strong>
                    <span class="text-primary">{{ ticket.type_of_issue }}</span>
                  </p>

                  <p><strong>Title: </strong>
                    {{ ticket.title }} 
                  </p>
                  <p><strong>Details: </strong>
                    {{ ticket.details }} 
                  </p>
                  <hr>
                  {% if ticket.assignedTech %}
                    <p><strong>Assigned Tech:</strong>
                        {{ ticket.assigned_tech.first_name }} 
                        {{ ticket.assigned_tech.last_name }} 
                    </p>
                    {% endif %}
                      <hr>
                      <p><strong>Tech Notes:</strong></p>
                    <p>
                        {{ tech_notes.created }} - {{ tech_notes.tech.last_name }}
                        {{ tech_notes.note }}
                    </p>   
            </div>

            <div class="col-lg-6">
              <h3>Update Ticket:</h3>
              <form action="{% url 'update_ticket' ticket.id %}" method="POST">
                {% csrf_token %}
                  {{ update_form|crispy }}
                
                  {{ notes_form|crispy }}
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}