<!--Offcanvas menus for It Support Staff -->
{% load static %}
<div
	class="offcanvas offcanvas-start"
	tabindex="-1"
	id="offcanvasMenu"
	aria-labelledby="offcanvasMenuLabel">
	<img
		class="mt-4 mb-3 ms-3"
		src="{% static 'img/helpdesk.jpg' %}"
		alt=""
		width="50" />
	<div class="offcanvas-header text-primary-emphasis bg-primary-subtle">
		
        <h2 class="offcanvas-title" id="offcanvasMenuLabel">
			IT Support Menu
		</h2>
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="offcanvas"
			aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="nav">
			<li class="nav-item mb-3">
				<a class="nav-link" href="{% url 'it_dashboard' %}">
                    <i class="fa-solid fa-ticket fa-xl"></i>
					All Tickets
				</a>
			</li>
			<li class="nav-item mb-3">
				<a class="nav-link" href="{% url 'tickets_by_tech' %}">
                    <i class="fa-solid fa-laptop-file fa-xl"></i>
					Tickets Assigned to Me
                </a>
			</li class="nav-item">
			<li class="nav-item">
                <a class="nav-link" href="#"> 
                    <i class="fa-solid fa-chart-line fa-xl"></i>
					Ticket Reports
                </a>
            </li>
		</ul>
	</div>
</div>
