{% extends 'base.html' %}

{% block content %}
<div class="container">

<!-- Messages -->
{% include 'partials/_messages.html' %}

    <h1 class="my-5 pt-5">Dashboard View</h1>

    {% if not user.is_authenticated %}
    <h2>You must be logged in to view and submit tickets.</h2>

    <h4 class="my-3">Login in <a href="{% url 'login' %}">here</a> or create an account <a href="{% url 'register' %}">here.</a></h4>
    {% else %}
        <h2>Welcome {{ user.first_name }}</h2>
        {% if tickets %}
            <!-- Tickets -->
            <div class="col-lg-12">
                <h2 class="d-inline">Your Tickets</h2>
                <a class="btn btn-primary float-end" 
                href="{% url 'create_ticket' %}">
                    Submit a New Ticket
                </a>
                <hr />
                <!-- Tickets -->
                {% include 'partials/_tickets.html' %}
            </div>
        {% else %}
            <h4 class="my-3">You don't have any open tickets. Click <a href="{% url 'create_ticket' %}">here</a> to open a ticket.</h4>
        {% endif %}

    {% endif %}

</div>

{% endblock content %}


