{% extends 'base.html' %} 
{% load static %}
{% block title %} {% endblock title %} 

{% block content %}
<div class="container-md">
	<div class="row g-4 mt-5">
		<div class="col-md-3">
			<h2 class="mb-5">My Profile</h2>
			<img
						class="rounded-circle shadow-lg mb-2"
						width="100"
						src="{{ user_profile.image.url }}"
						alt="profile pic" />
			<div>
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title text-center">{{ user_profile.title }}</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<strong>First Name</strong>: 
								{{ user.first_name }}
							</li>
							<li class="list-group-item">
								<strong>Last Name</strong>: 
								{{ user.last_name }}
							</li>
							<li class="list-group-item">
								<strong>Username</strong>: 
								{{ user.username }}
							</li>
							<li class="list-group-item">
								<strong>Email</strong>: 
								{{ user.email }}
							</li>
							<li class="list-group-item">
								<strong>Phone</strong>: 
								{{ user_profile.phone }}
							</li>
						</ul>
						<a class="btn btn-info text-white mt-2" data-bs-toggle="modal"
                		data-bs-target="#myModal" href="#">
                    		Update my profile
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="myModalLabel">
                <img
					class="mb-4"
					src="{% static 'img/helpdesk.jpg' %}"
					alt=""
					width="50" />
					Update Profile
              </h1>
              <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'update_profile'  %}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<div class="mb-4 col">
						<label for="title" class="form-label">Title</label>
						<input type="text" name="title" class="form-control" placeholder="Title" value="{{ user_profile.title }}" />
					</div>
					<div class="mb-4 col">
						<label for="phone" class="form-label">Phone Number</label>
						<input
							class="form-control"
							type="phone"
							name="phone"
							placeholder="Phone number"
							value="{{ user_profile.phone }}" />
					</div>
				</div>
				<div class="row">
					<div class="mb-4 col">
						<p>This is the file to upload</p>
						<label for="image" class="form-label">New Profile Image</label>
						<input class="form-control" type="file" name="image">
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <a href="{% url 'profile' %}" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
              <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
          </div>
        </div>
      </div>
	  <!-- Tickets -->
		<div class="col-md-9">
			<h2 class="d-inline">My Tickets</h2>
			<button class="btn btn-primary float-end" href="#">
				Submit a New Ticket
			</button>
			<hr />
		</div>
		
	</div>
</div>
{% endblock content %}
