{% extends 'base.html' %} 
{% load static %}

{% block title %}
{{user.username}}'s Tickets
{% endblock title %} 

{% block content %}
<div class="container">
<!-- Messages -->
{% include 'partials/_messages.html' %}

	<div class="row g-4 mt-5">
		<div class="col-lg-3">
			<h2 class="mb-5">My Profile</h2>
			<img
						class="rounded-circle shadow-lg mb-2"
						width="100"
						src="{{ user.profile.image.url }}"
						alt="profile pic" />
			<div>
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title text-center">{{ user_profile.title }}</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<strong>First Name</strong>: 
								{{ user.first_name }}
							</li>
							<li class="list-group-item">
								<strong>Last Name</strong>: 
								{{ user.last_name }}
							</li>
							<li class="list-group-item">
								<strong>Username</strong>: 
								{{ user.username }}
							</li>
							<li class="list-group-item">
								<strong>Email</strong>: 
								{{ user.email }}
							</li>
							<li class="list-group-item">
								<strong>Phone</strong>: 
								{{ user_profile.phone }}
							</li>
						</ul>
						<button class="btn btn-info text-white mt-2" data-bs-toggle="modal"
                		data-bs-target="#profileModal">
                    		Update my profile
						</button>
					</div>
				</div>
			</div>
		</div>
		{% include 'partials/_profile-modal.html' %}
	  <!-- Tickets -->
		<div class="col-lg-9">
			<h2 class="d-inline">My Tickets</h2>
			<a class="btn btn-primary float-end" 
			href="{% url 'create_ticket' %}">
				Submit a New Ticket
			</a>
			<hr />
			<!-- Tickets -->
			{% include 'partials/_tickets.html' %}
		</div>
	</div>
{% endblock content %}
